**/node_modules
**/.code-workspace
**/.env
**/.DS_Store
**/yarn.lock
**/package-lock.json

blockchain/coverage
blockchain/coverage.json
blockchain/typechain
blockchain/typechain-types
blockchain/cache
blockchain/artifacts

client/.next

