**/node_modules
**/static
**.code-workspace
**.env
**.DS_Store
**yarn.lock
**package-lock.json
**yarn-error.log

blockchain/coverage
blockchain/coverage.json
blockchain/typechain
blockchain/typechain-types
blockchain/cache
blockchain/artifacts

client/.next

