# general
/*.env
/.DS_Store
/*.code-workspace

/node_modules

/package-lock.json
/npm-debug.log*

/yarn.lock
/yarn-debug.log*
/yarn-error.log*

/.pnp
/.pnp.js


# contracts
/data/31337
/data/1337


# build
/temp
/misc.txt